<html>
    <head>
        <Title> PROGETTO VUE MAURO </Title>
       
    </head>
    <body>
      
        <div class="container" id="app">
          <input type="text" class="form-control w-25" v-model="maximum">
            <div class="row d-flex mb-3 align-items-center" 
            v-for="item in products" 
            v-if="item.price<=Number(maximum)">
            <div class="col-sm-4">
           
              <img class="img-fluid d-block" :src="item.image" :alt="item.name">
             </div>
             <div class="col">
               <h3 class="text-info">{{ item.name }}</h3>
               <p class="mb-0">{{ item.description }}</p>
               <div class="h5 float-right">${{item.price}}</div>     
              </div>
          </div>
             
            </div>
          </div>
          
        <script src="js/bootstrap.min.js"></script>
      <script src="js/jquery.min.js"></script>
      <script src="js/jquery.slim.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/vue.min.js"></script>
<script>

var app = new Vue({
 el: '#app',
 data: {
  maximum:99,
  products: null
 },
 mounted: function () {
   fetch('https://hplussport.com/api/products/order/price')
   .then(response => response.json())
   .then (data=> {
     this.products=data;
   })
 }
});
</script>
    </body>
</html>



